.wrapper { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.lenta_border {    
    width: 1200px;
    height: 1208px;
    border: 3px solid black;
}
.eilute , .vidurys_eilute, .langeliai, .langeliai1 {
    display: flex;    
}
.desine_tuscia , .kaire_tuscia {
    height: calc(120px / 2);
    width: calc(120px / 2);
}
.raides {
    height: calc(120px / 2);
    width: calc(1080px / 8);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 70px;
    text-transform: uppercase;
}
.langeliai, .langeliai1 { 
    height: calc(1080px / 8) ;
    width: calc(1080px / 8);
}
.eilute_vidurys {
    height: calc(1080px / 8);
    width: calc(1200px - 120px);
}
.antra_desine , .skaiciu_kaire {
    height: calc(1080px / 8);
    width: calc(120px / 2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.sriftas {
    font-weight: 500;
    font-size: 70px;
}

.langeliai:nth-of-type(2n) {
    background-color: black;
}
.langeliai1 {background-color: black;}
.langeliai1:nth-of-type(2n) {
    background-color: white;
}

/*!!imti atskirai borderiai, nes visas blokas darytas is blokeliu*/
.border_top{
    border-bottom: 1px solid black;
}
.border_bottom {
    border-top: 1px solid black;
}
.border_left {
border-left: 1px solid black;
}
.border_right {
    border-right: 1px solid black;
    }